
# R / RStudio
.Rproj.user/
.Rhistory
.RData
.Ruserdata
*/.Rproj.user/
*_files/
*_cache/
96342BigData/Lecture02/Lecture02.html
69968MRA/L03/wghtclub.sas7bdat
69968MRA/L03/wghtclub1.sas7bdat
69968MRA/L03/wghtclub2.sas7bdat

# RStudio project files
*.Rproj

# Windows system files
desktop.ini
Thumbs.db