
# R / RStudio
.Rproj.user/
.Rhistory
.RData
.Ruserdata
*/.Rproj.user/
*_files/
*_cache/
96342BigData/Lecture02/Lecture02.html
69968MRA/L03/wghtclub.sas7bdat
69968MRA/L03/wghtclub1.sas7bdat
69968MRA/L03/wghtclub2.sas7bdat

# RStudio project files
*.Rproj

# Windows system files
desktop.ini
Thumbs.db
96342BigData/Lecture03/L03_Note.html
96342BigData/Lecture03/Data_Syntax_01/data/__MACOSX/data/._Kenya.csv
96342BigData/Lecture03/Data_Syntax_01/data/__MACOSX/data/._Sweden.csv
96342BigData/Lecture03/Data_Syntax_01/data/__MACOSX/data/._World.csv
96342BigData/Lecture03/Data_Syntax_01/data/data/Kenya.csv
96342BigData/Lecture03/Data_Syntax_01/data/data/Sweden.csv
96342BigData/Lecture03/Data_Syntax_01/data/data/World.csv
96342BigData/Lecture03/Lecture03_Data_Syntax_01/data/__MACOSX/data/._Kenya.csv
96342BigData/Lecture03/Lecture03_Data_Syntax_01/data/__MACOSX/data/._Sweden.csv
96342BigData/Lecture03/Lecture03_Data_Syntax_01/data/__MACOSX/data/._World.csv
96342BigData/Lecture03/Lecture03_Data_Syntax_01/data/data/Kenya.csv
96342BigData/Lecture03/Lecture03_Data_Syntax_01/data/data/Sweden.csv
96342BigData/Lecture03/Lecture03_Data_Syntax_01/data/data/World.csv
96342BigData/Lecture04/data/Kenya.csv
96342BigData/Lecture04/data/Sweden.csv
96342BigData/Lecture04/data/World.csv
96342BigData/Lecture04/Lecture04_Data_Syntax_Lab_week2/data
96342BigData/Lecture04/Lecture04_Data_Syntax_Lab_week2/Kenya.csv
96342BigData/Lecture04/Lecture04_Data_Syntax_Lab_week2/Sweden.csv
96342BigData/Lecture04/Lecture04_Data_Syntax_Lab_week2/World.csv
96342BigData/Lecture04/Lecture04_Note.html
96342BigData/Lecture06/Activity_week3/__MACOSX/activity_week3/._.Rhistory
96342BigData/Lecture07/Lecture07_Lab/Results/plot7.pdf
96342BigData/Lecture07/Lecture07_Lab/Results/plot8_regression_coefficients.pdf
96342BigData/Questions/Mid-term_MockExam.docx
